<div class="seotoaster container">
	<?php echo $this->partial(
        'admin' . DIRECTORY_SEPARATOR . '_header.phtml',
        array(
            'headerText' => $this->translate('Configuration theme'),
        )
    ); ?>
    <form class="content grid_12" action="<?php echo $this->websiteUrl . 'plugin/customizetheme/run/config'?>" method="post">
        <p class="labeled">
            <input value="<?php echo $this->configData['less-path']; ?>" name="less-path" id="less-path" class="grid_6 alpha omega fl-right" placeholder="<?php echo $this->translate('Example');?>: css/less/">
            <label class="grid_6 alpha omega"><?php echo $this->translate('The path to the folder c less files');?></label>
        </p>
        <p class="mt25px">
            <label><?php echo $this->translate('Enter the path to the file with variables');?></label>
            <textarea name="variable-files" id="variable-files" style="height: 160px"
                placeholder="<?php echo $this->translate('Example');?>: variable/variable.less, variable/activate.less"
                ><?php echo $this->configData['variable-files']; ?></textarea>
        </p>
        <p class="mt25px">
            <label><?php echo $this->translate('Enter the path to the file to be compiled');?></label>
            <textarea name="compiler-files" id="compiler-files" style="height: 160px"
                placeholder="<?php echo $this->translate('Example');?>: style.less, content.less"
                ><?php echo $this->configData['compiler-files']; ?></textarea>
        </p>
        <button class="btn ticon-save" type="submit"><?php echo $this->translate('Save');?></button>
    </form>
</div>