<form id="customizeTheme" class="seotoaster container" action="<?php echo $this->websiteUrl?>plugin/customizetheme/run/save/">
    <?php
        echo $this->partial(
            'admin' . DIRECTORY_SEPARATOR . '_header.phtml'
        );
    ?>
    <?php
        $i = 0;
        echo '<div class="tabs-nav-wrap">';
            echo '<span class="arrow left ticon-arrow-left3"></span>';
            echo '<span class="arrow right ticon-arrow-right3"></span>';
            echo '<ul class="header">';
            foreach ($this->varRules as $name => $file) {
                foreach ($file as $key => $rule) {
                    if ($rule['type'] === 'Comment') {
                        preg_match('~\###(.*)\###~', $rule['value'], $matches);
                        if(!empty($matches)){
                            echo '<li><a href="#tabs' . $i . '">' . $matches[1] . '</a></li>';
                        }else{
                            echo '<li><a href="#tabs' . $i . '">' . $name . '</a></li>';
                        }
                        break;
                    }
                }
                $i++;
            }
            echo '</ul>';
        echo '</div>';
        $i = 0;
        foreach ($this->varRules as $name => $file) {
            $typeFieldSwitcher = false;
            echo '<div id="tabs' . $i . '" class="content-screen-footer scroll">';
            $openBlock  = true;
            $closeBlock = false;
            foreach ($file as $key => $rule) {
                if ($rule['type'] === 'Comment') {
                    preg_match('/\[(.*)\]/', $rule['value'], $matches);
                    if(!empty($matches)){
                        $openBlock  = true;
                        $closeBlock = true;
                        echo $closeBlock ? '</fieldset>' : '';
                        echo '<h3 class="mb0px">' . $matches[1] . '</h3>';
                    }
                    preg_match('~\{(.*)\}~', $rule['value'], $matchesType);
                    if(!empty($matchesType)){
                        $typeFieldSwitcher = true;
                    };
                }
                if ($rule['type'] === 'Variable') {
                    echo $openBlock ? '<fieldset class="column_3 full-width one-line">' : '';
                    $openBlock  = false;
                    $closeBlock = false;
                    echo '<p class="mt5px mb5px text-overflow background">';
                    if($typeFieldSwitcher){
                        $fieldChecked = htmlentities(trim($rule['value'])) == 'true' ? 'checked' : '';
                        echo '<label class="m0px">'
                                . '<input class="variable switcher fl-right" data-var="' . $rule['name'] . '" type="checkbox" ' . $fieldChecked . '>'
                                . $rule['name']
                           . '</label>';
                    }else{
                        echo '<label>' . $rule['name'] . '</label>'
                           . '<input class="variable" data-var="' . $rule['name'] . '" type="type" value="' . htmlentities(trim($rule['value'])) . '">';
                    }
                    echo '</p>';
                }
                echo (count($file) == $key+1) ? '</fieldset>' : '';
            }
            echo '<input class="nameFile" type="hidden" value="' . $name . '">';
            echo '</div>';
            $i++;
        }
    ?>
    <div class="footer grid_12">
        <button class="btn ticon-checkmark" type="submit"><?php echo $this->translate('Compile theme'); ?></button>
    </div>
</form>
<script>
    $(function(){
        $('#customizeTheme').tabs();
    });
    $('#customizeTheme').on('submit', function(){
        var url = '<?php echo $this->websiteUrl?>plugin/customizetheme/run/save/';
        var data = {};
        var $filedset = $(this).find('.content-screen-footer');
        $filedset.each(function(index){
            var nameFile = $(this).find('.nameFile').val(),
                fileVariable = {};
            $(this).find('.variable').each(function(i){
                var value = {};
                value['type']  = 'Variable';
                value['name']  = $(this).data('var');
                value['value'] = $(this).val();
                fileVariable[i] = value;
            });
            data[nameFile] = fileVariable;
            if(($filedset.length-1)==index){
                $.ajax({
                    type       : "post",
                    url        : url,
                    dataType   : 'json',
                    data       : {
                        rules : data
                    },
                    beforeSend : showSpinner(),
                    success    : function(){

                    }
                }).done(function(){
                    //            top.location.reload();
                });
            }
        });
        return false;
    })
</script>